<footer class="site-footer">
    <div class="footer-top">
        <div class="inner-wide">
            <img class="footer-pokemon" src="/assets/images/footer.png"/>
            <div class="footer-links">
                <a class="footer-linkedin" href="//linkedin.com/in/rilee" target="_blank"></a>
                <a class="footer-github" href="//github.com/rjdlee" target="_blank"></a>
                <a class="footer-medium" href="//medium.com/@Rjdlee" target="_blank"></a>
                <a class="footer-instagram" href="//www.instagram.com/richleeeeee" target="_blank"></a>
            </div>
        </div><!-- .inner -->
    </div><!-- .footer-top -->
</footer><!-- .site-footer -->
