{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the tag page --}}
<main class="site-main">
    <section class="shower-thoughts inner-wide">
        <div class="heading-shower-thoughts">
            <i>Life</i>
            <h1>Shower Thoughts</h1>
        </div>
        <p>
            The best way to learn is through experiencing. The second best way is through storytelling. Shower thoughts
            are written to close gaps I see in readily available information. I try to understand and explain why things
            are the way they are. Drawings are bonus payoffs for reading through my works.
        </p>
    </section>
    <br/>
    <div class="site-content">
        <div class="inner-wide">
            {{!-- The tag below includes the post loop - partials/loop-archive.hbs --}}
            {{> "loop-archive"}}
        </div><!-- .inner-wide -->

    </div><!-- .site-content -->
</main><!-- .site-main -->
