{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the tag page --}}
<main class="site-main">
    <section class="overflow inner-wide">
        <div class="heading-overflow">
            <i>Technical</i>
            <h1>Overflow</h1>
        </div>
        <p>
            I'm a strong believer in having both high level vision and technical skills to execute on those visions.
            With humble beginnings building websites in Adobe Dreamweaver over 10 years ago, I've developed robust
            foundations that allow me to work anywhere on the tech stack from firmware to web to distributed systems.
            These are the stories of what I've learned hacking Medium, building games, automating plant care, and more.
        </p>
    </section>
    <br/>
    <div class="site-content">
        <div class="inner-wide">
            {{!-- The tag below includes the post loop - partials/loop-archive.hbs --}}
            {{> "loop-archive"}}
        </div><!-- .inner-wide -->

    </div><!-- .site-content -->
</main><!-- .site-main -->
