{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the tag page --}}
<main class="site-main">
    <section class="brainstorms inner-wide">
        <div class="heading-brainstorms">
            <i>Business</i>
            <h1>Brainstorms</h1>
        </div>
        <p>
            The way I see it, as long as you have your eyes open, the world is rife with business and life
            opportunities. I've been involved in the business world ever since selling LED bulbs to my high school
            teachers. These are the stories of my business adventures and what I learned from them. My current ventures
            are secret, though.
        </p>
    </section>
    <br/>
    <div class="site-content">
        <div class="inner-wide">
            {{!-- The tag below includes the post loop - partials/loop-archive.hbs --}}
            {{> "loop-archive"}}
        </div><!-- .inner-wide -->

    </div><!-- .site-content -->
</main><!-- .site-main -->
