@import "variables";

.heading-projects,
.heading-brainstorms,
.heading-shower-thoughts,
.heading-overflow {
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 64px;
    position: relative;

  &:before {
    @include heading-underline
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    margin-top: -20px;
    height: 128px;
    width: 128px;
    background-size: cover;
    right: -160px;
  }

  // For super-title (before h1)
  & > i {
    display: block;
    color: $dark-heading-text;
  }

  & > h1 {
    line-height: 0.8;
    margin-bottom: 12px;
  }
}

.heading-projects:after {
  background-image: url("../images/projects.png");
}

.heading-brainstorms:after {
  background-image: url("../images/brainstorms.png");
}

.heading-shower-thoughts:after {
  background-image: url("../images/shower-thoughts.png");
}

.heading-brainstorms {
  display: inline-block;
  padding: 1rem 3rem 1.2rem 3rem;
  background-size: 100% 100%;
  background-image: url('../images/brainstorm-header-background.png');
  margin-bottom: 28px;

  &:before {
    content: none;
  }

  &:after {
    right: -120px;
  }

  & > h1 {
    margin-bottom: 30px;
  }
}

.heading-overflow {
  &:before {
    background-image: url("../images/underline-white.png");
  }

  &:after {
    background-image: url("../images/overflow.png");
  }

  & > h1, & > i {
    color: $light-heading-text;
  }
}
